<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KRIOVA</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="text-center"><h1><a href="/"><img src="/Kriova-logo.png"></a></h1></div>

<div class="wrapper">
  <form action="/forgetPassword" method="post">
    <h3>Password Assistance</h3>
    <h6>Enter the email address or mobile phone number associated with your Amazon account.</h6>
    <label for="email">Email</label>
    <input type="text" name="email"  />
    <div class="email error"></div>
    <button>Continue</button>
  </form>
  </div>

<%- include('partials/footer'); -%>